# Top-level build script
include setup.py
include dev.py
include meson.build
include pyproject.toml
# Top-level text files
include README.md CHANGELOG.txt LICENSE.md AUTHORS.md MANIFEST.in .pre-commit-config.yaml
include .gitignore .gitattributes
# All source files
recursive-include cherab *.py *.pyx *.pxd *.csv *.json *.npy *.rsm *.STL *.txt *.hdf5 meson.build
include cherab/lhd/VERSION
# Exclude what we don't want to include
global-exclude *.c *.py[cod]
prune *.egg-info
prune local
prune docs
